/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/uploads


# resources/views/components/CRUD-4/create.blade.php
# app/Http/Controllers/Crud4Controller.php

# resources/views/components/CRUD-7/create.blade.php
# resources/views/components/CRUD-7/edit.blade.php


# app/Http/Controllers/Crud5Controller.php
# database/migrations/2025_10_07_175138_create_crud5s_table.php
# app/Models/Crud5.php
# routes/web.php


# app/Http/Controllers/Crud3Controller.php
# database/migrations/2025_04_22_153012_create_crud3s_table.php
# app/Models/Crud3.php
# app/Models/Crud3.php



resources/views/components/CRUD-200

# resources\views\components\CRUD-5

clr.bat
ser.bat
